.content {
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
.filter {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  gap: 10px;
  border: #373737 solid 3px;
}

.product {
  width: 70%;
  height: 100%;
  border: #373737 solid 3px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.card-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  height: 35vh;
  border: #373737 solid 3px;
}
h2 {
  font-family: Jost;
  font-size: 27px;
  font-weight: 700;
  line-height: 23.12px;
  text-align: center;
}
.product-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 55vh;
  border: #373737 solid 3px; 
}
.list-container-product {
  margin-left: 35%;
  width: 60%;
  height: 100%;
  border: #373737 solid 3px;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  padding: 10px;
  margin: 5px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer; 
}

.pagination button:disabled {
  background-color: #979191;
}
.p-product{
  font-family: Jost;
  font-size: 16px;
  font-weight: 700;
  line-height: 23.12px;
  text-align: center;
  width:100%;
  height:5vh;
  border: #373737 solid 3px;
}
.h3{
  font-family: Jost;
  font-size: 16px;
  font-weight: 700;
  line-height: 23.12px;
  text-align: left;
  width:100%;
  height:10vh;
  border: #373737 solid 3px; 
}
